.modeToggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 60%;
    margin:auto;
    height: 100px;
}

.controls{
    height: calc(100% - 100px);
}

.toggleitem{
    width:120px;
    height: 20px;
    padding: 5px;
    cursor: pointer
}

.toggleAnimation{
    position: absolute;
    height: 20px;
    width: 120px;
    top: calc(50% - 15px);
    background: red;
    padding: 5px;
    z-index: 2;
    border-radius: 10px;
}