.SwitchContainer{
    position:absolute;
    top: 45%;
    right: 5%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    font-family: FontAwesome;
    content: attr(data-icon);
    height: 40px;
    width: 40px;
    left: -20px;
    bottom: -10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  
  input:checked + .slider {
    background-color: #29296e;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media only screen and (max-width: 768px) {
    .SwitchContainer{
        position:absolute;
        top: 45%;
        right: 10%;
    }
}